@media (max-width: 470px) {
  .invoice-list-wrapper .invoice_status {
    margin-top : 1rem;
    width : 100%;
  }
  .invoice-list-wrapper .invoice_status select {
    margin-right : 0 !important;
  }
}